.container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.card {
  color: unset;
  text-decoration: none;
  padding: 1.5rem 1rem;
  border-radius: var(--radius);
  background: transparent;
  transition: transform 0.3s, background 0.3s;
}
.card:hover {
  background: var(--card);
}

.card h2 {
  margin: 0 0 0.5rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  margin: 0;
}

.card:focus-within {
  transform: scale(1.01);
}
